* {
    margin: 0px;
    padding: 0px;
}

/*Variaveis de paletas*/
:root {
    --cor-one: #E9967A;
    --cor-two: #252525;
    --cor-tree: #dddddd;
    --cor-four: #F9FAD2;
}

/*Fonts do google, usar valor de weigth de 300 ate 900*/
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body,
html {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: var(--cor-two);
    overflow-y: auto;
    height: 100%;
}



.cards_receitas {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    box-sizing: border-box;
}

.card_body {
    transition: 0.5s ease-in-out;
}

.card_body:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.199);
}


.card_content {
    border-radius: 10px;
    width: 550px;
    height: 980px;
    background-color: var(--cor-four);
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_img_top {
    width: 500px;
    margin-top: 20px;
    border-radius: 10px;
}

.card_text {
    margin: 10px 0px;
    align-items: start;
}

.card_text ul li {
    list-style: disc;
    align-items: start;
    text-align: start;

}

.desc_receitas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0px;
    overflow-y: auto;
    font-size: 30px;
    overflow-x: hidden;
    font-weight: 360;
}

.animation_desc {
    margin-bottom: 10px;
    animation: desc_logo 2s infinite;
}

@keyframes desc_logo {
    0% {
        transform: translateX(0) scale(1);
    }

    50% {
        transform: translateY(40px) scale(1.2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}


@media (max-width: 999.98px) {
    .card_content {
        margin-top: 120px;
    }

    .cards_receitas {
        flex-wrap: wrap;
    }

    .card_img_top {
        width: 470px;
    }
}

@media (max-height: 1370.98px) {


    .cards_receitas {
        flex-wrap: wrap;
    }

    .card_img_top {
        width: 470px;
    }
}